@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap");

* {
  font-family: "Nunito", sans-serif;
}

.nav-link,
.f-700 {
  font-weight: 700;
}

.ml-10 {
  margin-left: 4.5rem;
}

.mr-10 {
  margin-right: 4.5rem;
}
.mr-20 {
  margin-right: 8rem;
}

.f-800 {
  font-weight: 800;
}

.blue {
  color: #005e6a;
}

.nav-link.current,
.orange {
  color: #f76027 !important;
  cursor: pointer;
}

.w-20 {
  width: 20px;
}

.nav-link {
  color: #076281 !important;
  transition: ease 0.3s;
}
.nav-link:hover {
  color: #f76027 !important;
}

.bell {
  font-size: 20px;
}

.img {
  margin-top: -4px;
}

.mt-30 {
  margin-top: 10rem;
}
.mt-20 {
  margin-top: 7rem;
}

.nav-link.lang {
  color: #535353 !important;
}
.gray {
  color: #263238;
  opacity: 60%;
}
.gray-dark {
  opacity: 65%;
  color: #020f15;
}
.nav-link.lang-opa {
  color: #535353 !important;
  opacity: 30%;
}
.nav-link.lang-opa:hover {
  color: #535353 !important;
  opacity: 100%;
}

.bg-hero {
  top: 0;
  z-index: -999;
  width: 100%;
}
.jumbotron {
  position: relative;
}

.info-panel {
  box-shadow: 0 12px 26px 0 rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  margin-top: 50px;
  background-color: white;
  height: 70px;
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.search {
  padding-top: 10px;
}

.inp {
  outline: none;
  border: none;
  width: 400px;
}

.divider {
  opacity: 15%;
  font-size: 35px;
}

.info-card-1 {
  background-image: url(../images/card1.png);
}
.info-card-2 {
  background-image: url(../images/card2.png);
}

.info-card-1,
.info-card-2 {
  height: 180px;
  color: white;
  background-color: #535353;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}

.button.active,
.button {
  width: 180px;
  height: 60px;
  outline: none;
  border: none;
  font-weight: 700;
  color: #005e6a;
  transition: all 0.3s;
  background-color: white;
}

.button.active {
  border: 1px solid #005e6a;
  border-radius: 30px;
}

.button:hover {
  border: 1px solid #005e6a;
  border-radius: 30px;
}

.opacity {
  width: 200px;
  height: 50px;
  padding-top: 10px;
  background-color: #f3f3f3;
}
.opacity:hover {
  color: #f76027;
}

.span-btn {
  background-color: #eef8fa;
  padding: 10px;
  border-radius: 8px;
  color: #1bbade;
  font-weight: 700;
  margin-bottom: 15px;
}

.span-12 {
  font-size: 12px;
}
.span-16 {
  font-size: 16px;
}

.title {
  margin-top: -30px;
}
.title-plus {
  margin-top: -50px;
}

.w-32 {
  width: 330px;
}

.bordered {
  border: none;
  background-color: #f5f5f5;
}
